---
layout: default
---


	<!-- <div class="col-sm-9">
		<img src="{{ site.url }}{{ site.baseurl }}/images/cover_photo.jpg" alt="cover" style="width:100%;">
		<div class="top-left"> <h1 style="color:white; opacity: 0.9">Welcome to Z Lab</h1> </div>

		<!-- {{ content }} -->
	<!-- </div> --> -->

  <!-- <div id="homeid" class="col-sm-9" align="justify">
        <h1>Welcome to Z Lab</h1>

	{{ content }}

	<div id="newsid" class="col-sm-3" >
	{% include news.html %}
  </div>
  </div> -->
	<div id="homeid" class="col-sm-8">
        <h1>Welcome to Z Lab</h1>

				{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
